@model IEnumerable<mVoxApp.Web.Models.KeyGroup>
<hr /><br /><br /><br />

<hw>
    <h2 class="text-center">Table:@ViewData["keygroupname1"] </h2>
</hw>

<h3 class="text-center">Model First_Obj Name: @Model.First().name</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maxTeams)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalTeams)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxTeams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalTeams)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
