@model IEnumerable<mVoxApp.Web.Models.TeamModel>

@*  Alert - Esta Tabela de Classificação já esta Cheia
    
    @{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if ( @ViewBag.alert2 != null )
    {        
        <script>
            var texto = "@ViewBag.alert";
            alert(texto);
        </script>
    }
}

<h2 class="text-center danger">@ViewBag.KeyGroupFull</h2>*@

<div>
    <h2 class="text-center">Tabela das Etapas</h2>
    @Html.Partial("PartialView/_TableKeyGroupDetails", ViewData["keygroups-all"])
</div>

<hr />
<div>
    @{
        int count = 1;
        foreach (var item in ViewData["keygroups-all"] as IEnumerable<mVoxApp.Web.Models.KeyGroupModel>)
        {
            count++;
        }


        <h5 class="text-center">Grupos de Classificação Registrados: @(count - 1)</h5>

        //Tabela
        if (ViewData["teams-all"] != null)
        {
            if (ViewData.Values != null && ViewData.Values.Count() > 0)
            {
                for (int i = 1; i < count; i++)
                {
                    <hr /><br />
                    <hw>
                        <!--Titulo da Tabela-->
                        <h1 class="text-center">
                            Classificação @(i - 1) | @ViewData[$"keygroupname{i}"]
                        </h1>
                    </hw>

                    <!--Conteudo da Tabela-->
                    @Html.Partial("PartialView/_TableByKeyGroup", ViewData[$"TeamsByKeyGroup{i}"])

                }
            }
        }
    }
</div>




