@model IEnumerable<mVoxApp.Web.Models.Team>

@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tables</h2>

<div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.keyGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flag)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.points)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.keyGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.flag)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>

<hr /><br /><br />
<br />
<div>
    <h2 class="text-center">Test | Populando Paginas Dinamicamente</h2>
    @{
        int count = 0;
        foreach (var item in ViewData["keygroupAll"] as IEnumerable<mVoxApp.Web.Models.KeyGroup>) { count++; }
    
        <h5 class="text-center">Quantidade de KeyGroups no Banco: @count</h5>    
        if (ViewData["table1"] != null)
        {
            if (ViewData.Values != null && ViewData.Values.Count() > 0)
            {
                for (int i = 0; i < count; i++)
                {
                    <hr /><br/><br /><br />
                    <hw>
                        <h2 class="text-center">Group: @ViewData[$"keygroupname{i+1}"] </h2>
                    </hw>

                    @Html.Partial("_TablePView", ViewData["table1"])

                }
            }
        }
    }

</div>

<hr /><br /><br /><br />
<div >
    <h2 class="text-center">Test | Populando Paginas Estaticamente</h2>
    @Html.Partial("_TablePView_keygroup", ViewData["keygroup1"])
</div>

