@model IEnumerable<mVoxApp.Web.Models.KeyGroupModel>
<hr /><br /><br /><br />

<table class="table text-center ">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.MaxTeams)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.TotalTeams)
        </th>

        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxTeams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTeams)
            </td>
            @*<td class="text-right">
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @Class = "btn btn-default" }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.id }, new { @Class = "btn btn-default" }) |
                    @Html.ActionLink("Excluir da Tabela", "Delete", new { id = item.id }, new { @Class = "btn btn-default btn-danger" })
                </td>*@
        </tr>
    }

</table>
<br /><br /><br />
