@model IEnumerable<mVoxApp.Web.Models.TeamModel>

<br />
<h2 class="text-center">Todos os Times</h2>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeyGroup)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyGroup)
            </td>
            <td class="text-right"  >
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @Class="btn btn-default" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @Class = "btn btn-default" }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @Class = "btn btn-default btn-danger" })
            </td>
        </tr>
    }

</table>
